.adviced_recipe_box{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 0 1rem 1rem 1rem;
}

.adviced_recipe_image{
    max-width: 180px;
    max-height: 180px;
    border-radius: 15px;
    object-fit: cover;
}

.adviced_recipe_details{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 1rem 1rem 1rem;
}

.adviced_recipe_description{
    font-weight: bold;
    margin: 0;
}

.adviced_recipe_details span{
    margin-bottom: 0.4rem;
    color: #ff6f61;
}