.fast_recipe_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fast_recipe_box img{
    width: 53%;
    aspect-ratio: 482/287;
    border-radius: 15px;
    margin-bottom: 30px;
}

.fast_recipe_details{
    width: 40%;
}

.fast_recipe_title{
    text-transform: uppercase;
    color: #ff6f61;
}

.fast_recipe_description{
    font-size: 18px;
    font-weight: 600;
}

.fast_recipe_button{
    border-radius: 50px;
    border: 1px solid rgba(255, 111, 97, 0.5);
    color: #ff6f61;
    background: none;
    width: 90%;
}