main.main_header{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    margin-bottom: 2.5rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.22) 0 2px 18px 0;
}