.help_recipe_image_box{
    position: relative;
    width: 215px;
}

.help_recipe_image_box img{
    width: 100%;
    aspect-ratio: 200/200;
    border-radius: 15px;
    object-fit: cover;
}

.help_recipe_image_box p{
    text-align: center;
}

.help_recipe_image_box span{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    color: #fff;
}