.recette_une_box{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recette_une_box span{
    color: #ff6f61;
    margin: 5px 0;
}

.recette_une_box p{
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin: 0;
}

.recette_une_image{
    border-radius: 15px;
    aspect-ratio: 600/380;
}