.search_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button_menu{
    background: none;
}

.button_menu i{
    width: 80px;
    height: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff6f61;
}

.logo_marmiton{
    background-image: url("https://www.marmiton.org/reloaded/static/Front/Component/headerLightDesktop/assets/logo.svg");
    background-size: 140px;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 309/48;
    min-width: 200px;
}

.search_header form{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #dcdcdc;
    border-radius: 50px;
    overflow: hidden;
}

.search_header form label{
    min-width: 80px;
    width: 6em;
    display: flex;
    justify-content: end;
}

.search_input{
    border: none;
    padding-left: 0.3rem;
    width: 100%;
    font-size: 1rem;
    background: transparent;
}

.button_user{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    background-color: #ff6f61;
    color: #fff;
    border-radius: 50px;
    margin: 0 0.5rem;
}

.button_search_left{
    color: #ff6f61;
    background: none;
}

.button_search_right{
    color: #fff;
    background-color: #ff6f61;
    border-radius: 50px;
    padding: 0.4rem 1rem;
    margin: 0 0.2rem;
}