.navbar_header{
    background-color: #F9F9F9;
}

.navbar_header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
    cursor: pointer;
}

.navbar_header li:hover{
    color: #ff6f61;
}