.recipe_actus_box{
    display: flex;
    padding: 0 15px 15px 0;
    width: 50%;
}

.recipe_actus_image_box{
    position: relative;
}

.icon_recipe{
    position: absolute;
    right: 35px;
    top: 15px;
    color: #fff;
    width: 26px;
    height: 26px;
}

.recipe_actus_image{
    width: 160px;
    height: 160px;
    border-radius: 15px;
    margin-right: 20px;
    object-fit: cover;
}

.recipe_actus_details p{
    font-weight: 600;
}

.recipe_actus_details span{
    font-size: 12px;
    color: #989898;
}
