.recipes_moment_image{
    display: flex;
    align-items: flex-end;
    width: 225px;
    height: 225px;
    border-radius: 15px;
    margin-right: 20px;
    background-size: cover;
    position: relative;
    color: #fff;
    overflow: hidden;
}

.detail_recipe{
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-weight: 600;
    background-image: linear-gradient(rgba(63, 55, 53, 0) 0%, rgba(63, 55, 53, 0.48) 60%);
}

.recipes_moment_image span{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
}

.gratin_courgette{
    background-image: url("https://assets.afcdn.com/story/20230511/2219005_w1888h1060c1cx1042cy751cxt0cyt0cxb2090cyb1388.webp");
}

.courgettes_economiques{
    background-image: url("https://assets.afcdn.com/album/D20230525/phalbm26141377_w225h225c1.webp");
}

.idee_grillades{
    background-image: url("https://assets.afcdn.com/album/D20230511/phalbm26139912_w225h225c1.webp");
}

.recettes_familiales_sans_viande{
    background-image: url("https://assets.afcdn.com/album/D20230512/phalbm26140003_w225h225c1.webp");
}
