.author_box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author_box img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 1rem;
}

.author_name{
    font-size: 12px;
    font-weight: lighter;
    color: #989898;
}