.card_recipe{
    width: 100%;
    height: 420px;
    border-radius: 15px;
    color: #fff;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.card_recipe button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid rgba(255,111,97,0.5);
    padding: 0;
    background: #fff;
}

.card_recipe i.is_liked{
    color: #ff6f61;
}

.card_recipe i.is_unliked{
    color: #DCDCDC;
}

.details_recipe{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%;
    padding-top: 5rem!important;
    background-image: linear-gradient(rgba(63, 55, 53, 0) 0%, rgba(63, 55, 53, 0.48) 60%);
}

.details_recipe_box{
    padding: 1rem;
}

.details_recipe span{
    font-size: 18px;
    font-weight: 600;
}

.details_recipe p{
    margin: 2px 0;
}

.quinoa_curry{
    background-image: url("https://assets.afcdn.com/recipe/20181130/84471_w620h840c1.webp");
}

.clementine_pistache{
    background-image: url("https://assets.afcdn.com/recipe/20161130/11192_w620h840c1.webp");
}

.gaufres_pesto{
    background-image: url("https://assets.afcdn.com/recipe/20150109/66925_w620h840c1.webp");
}