.thematic_item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    width: 80px;
    height: 100px;
    font-weight: 600;
    box-shadow: rgba(63, 55, 53, 0.1) 0 0 10px;
    border-radius: 15px;
    background-color: #fff;
}

.thematic_item span{
    width: 40px;
    height: 40px;
    background-color: #ff6f61;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.thematic_item p{
    margin: 0;
    height: 36px;
    font-size: 13px;
    padding: 0 5px;
}

.thematic_item_rapide{
    mask-image: url("https://static.afcdn.com/relmrtn/Front/Component/marmitonHomeInspiration/assets/fast.svg");
}
.thematic_item_entrees{
    mask-image: url("https://static.afcdn.com/relmrtn/Front/Component/marmitonHomeInspiration/assets/entree.svg");
}
.thematic_item_plats{
    mask-image: url("https://static.afcdn.com/relmrtn/Front/Component/marmitonHomeInspiration/assets/main-course.svg");
}
.thematic_item_desserts{
    mask-image: url("https://static.afcdn.com/relmrtn/Front/Component/marmitonHomeInspiration/assets/cake.svg");
}
.thematic_item_aperitifs{
    mask-image: url("https://static.afcdn.com/relmrtn/Front/Component/marmitonHomeInspiration/assets/crackers.svg");
}
.thematic_item_meatless{
    mask-image: url("https://static.afcdn.com/relmrtn/Front/Component/marmitonHomeInspiration/assets/meatless.svg");
}