:root{
  --main-black: #1a1a1a;
}

#root {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #000000;
}

.card {
  margin: 0 auto;
  padding: 0 2em 2em 2em;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  max-width: 1000px;
}

.read-the-docs {
  color: #888;
}

.main_recipes_box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.main_recipes{
  display: flex;
  flex-direction: column;
  width: 55%;
}

.advices{
  max-width: 45%;
}

hr,
article.advices hr{
  border: 1px solid #dcdcdc;
  margin: 1.5rem 0;
}

article.advices hr{
  margin: 1rem;
}

.recipes_boxes{
  text-align: left;
}

.recipes_boxes,
.inspirations_thematiques{
  margin-bottom: 3rem;
}

.recettes_du_jour{
  display: flex;
  width: 100%;
  gap: 1rem;
}

.recipes_actus_box-row{
  display: flex;
  flex-direction: row;
}

.recipes_actus_box-row p{
  margin: 0;
}

.recipes_actus-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.recipes_actus-title span{
  font-weight: 600;
  color: #ff6f61;
}

span.format-basic{
  display: block;
}
span.format-responsive{
  display: none;
}

.recipes_moment{
  display: flex;
  flex-direction: row;
}

.recipe_help_box{
  background-color: rgba(255, 111, 97, 0.102);
  padding: 20px 15px 15px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.help_recipes_box{
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

.help_recipe_items{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.fast_recipe_box{
  z-index: 1;
}

.help_box_circle{
  width: 300px;
  height: 300px;
  background-color: rgba(255, 111, 97, 0.2);
  display: block;
  border-radius: 50%;
  position: absolute;
}

.help_circle_right{
  right: -13rem;
  top: -6rem;
}

.help_circle_top{
  left: 20rem;
  top: -13rem;
}

.help_circle_left{
  width: 166px;
  height: 166px;
  left: -5rem;
  top: 11rem;
}

.inspirations_thematiques{
  position: relative;
}

.thematics{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.thematic_box_circle{
  background-color: #705669;
  opacity: 0.2;
  display: block;
  border-radius: 50%;
  position: absolute;
}

.thematic_circle_left{
  width: 177px;
  height: 177px;
  left: 15%;
  top: 10px;
}

.thematic_circle_middle{
  left: 48%;
  top: 28px;
  width: 117px;
  height: 117px;
}

.thematic_circle_right{
  left: 75%;
  top: 84px;
  width: 98px;
  height: 98px;
}