@media(width <= 767px){

    /* HEADER*/
    .search_header{
        display: flex;
        flex-direction: row;
        padding: 0 0.5em;
    }

    .button_menu i{
        width: 20px!important;
    }

    .logo_marmiton{
        position: absolute;
        left: 1.8em;
    }

    form{
        width: 100%!important;
        border: none!important;
        display: flex;
        justify-content: right;
    }

    .button_user,
    .search_input,
    .button_search_left,
    .navbar_header,
    label{
        display: none!important;
    }

    .main_header{
        margin-bottom: 0!important;
    }

    /* FIN HEADER*/

    /* MAIN CONTENT*/
    body{
        background-color: white!important;
    }

    h2{
        font-size: 1.2em;
    }

    .card{
        width: 100%;
        padding: 0;
        border-radius: 0;
        overflow: hidden;
    }

    section.recipes_boxes,
    section.inspirations_thematiques{
        padding: 0 1em;
    }

    /* FIN MAIN CONTENT*/

    /* RECETTES DU JOUR */
    .carousel{
        width: 100%;
        overflow: hidden;
        overflow-x: scroll;
    }

    .carousel::-webkit-scrollbar{
        display: none;
    }

    .recettes_du_jour{
        flex-direction: row;
        width: fit-content;
    }

    article.card_recipe{
        width: 15em;
        height: 20em;
    }

    /* END RECETTES DU JOUR */

    /* MAIN RECIPES */

    .main_recipes_box{
        flex-direction: column;
        margin-bottom: 1em!important;
    }

    .main_recipes_box .recette_une_box{
        padding-bottom: 1em!important;
        margin-bottom: 2em!important;
        border-bottom: 1px solid #F2F2F2;
    }

    .main_recipes_box .recette_une_box p{
        font-size: 1em;
        line-height: 1.2em;
    }

    article span{
        font-size: 0.7em;
    }

    .main_recipes{
        width: 100%;
    }

    /* ADVICES */

    article.advices{
        max-width: 100%;
    }

    .advices .adviced_recipe_image{
        width: 7em;
    }

    .advices .adviced_recipe_description{
        font-size: 0.7em;
        font-weight: normal;
    }

    hr{
        border: 0.5px solid #F2F2F2!important;
    }
    /* END ADVICES */

    /* SECTION RECIPES BOX*/
    .recipes_box{
        width: 100%;
    }

    .recipes_actus_box-row{
        flex-wrap: wrap;
    }

    /* END SECTION RECIPES BOX*/
    .recette_une_box{
        display: flex;
        flex-direction: column;
        width: 100%!important;
    }

    .recette_une_box span{
        color: #ff6f61;
        margin: 5px 0;
    }

    .recette_une_box p{
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
        margin: 0;
    }

    .recette_une_image{
        border-radius: 15px;
        aspect-ratio: 600/380;
    }

    /* FIN MAIN RECIPES */

    /* DERNIERES ACTUS*/
    .recipe_actus_box{
        width: 100%!important;
    }

    span.format-responsive{
        display: block;
    }

    span.format-basic{
        display: none;
    }

    .recipe_actus_image_box .recipe_actus_image{
        width: 7em;
        height: 7em;
    }

    .recipe_actus_details p{
        font-size: 0.7em;
        font-weight: normal;
    }

    .recipes_actus_box-row .recipe_actus_details span{
        font-size: 0.6em;
    }

    .dernieres_actus hr{
        display: none;
    }
    /* END DERNIERES ACTUS*/

    /* EN CE MOMENT*/
    .recipes_moment{
        width: fit-content;
    }

    article.recipes_moment_image{
        width: 12em;
        height: 12em;
    }
    /* END EN CE MOMENT*/

    /* POUR VOUS AIDER EN CUISINE*/
    section.recipe_help_box{
        margin: 1em;
    }

    .fast_recipe_box,
    .help_recipes_box{
        display: flex;
        flex-direction: column;
        margin: 1em 0;
    }

    article.fast_recipe_box{
        margin: 0;
    }

    article.fast_recipe_box img{
        width: 100%;
    }

    .fast_recipe_details{
        width: 100%!important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fast_recipe_description{
        text-align: center;
    }

    .help_recipe_items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .help_recipe_image_box{
        width: 48%!important;
    }
    /* END POUR VOUS AIDER EN CUISINE*/

    /* INSPIRATION THEMATIQUE */

    .thematic_box_circle{
        display: none;
    }

    .thematics{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    /* END INSPIRATION THEMATIQUE */
}
